body{
    background-color: rgb(154, 224, 241);
}
#content{
    width: 400px;
    align-content: center;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right:20px;
    padding-top: 20px;
    border-style: solid;
    background-color: rgb(246, 248, 250);
    max-height: 122px;
    -webkit-transition: max-height 0.7s; 
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
    overflow: hidden;
}
#content.open{
    max-height: 1000px;

    -webkit-transition: max-height 0.7s; 
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
    overflow: hidden;
}
#button{
    color:white;
    background-color: rgb(75, 75, 233);
    align-items: center;
}
header{
   position: relative;
}
